@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

body {
    font-family: sans-serif;
    color: #9a9a9a;
    font-size: 14px;
    font-weight: 400;
}

.section {
    padding: 60px 0;
}

a {
    text-decoration: none;
}

a:hover, .browse-category h3:hover {
    color: #26ae61 !important;
}

.testimonial-item {
    padding: 30px;
    margin: 15px;
    box-shadow: 0 0 14px rgba(191, 191, 191, .24);
}

p {
    color: #6b6969;
    line-height: 26px;
}

.testimonial-item .content-inner .author-info {
    padding: 3px 0;
}

h1, h2, h3, h4, h5 {
    font-size: 42px;
    font-weight: 700;
    color: #191c1e;
}

.testimonial-item .content-inner .author-info h2 a {
    color: #484848;
}

.carousel-indicators .active {
    background-color: #26ae61;
}

.category .browse-category:hover {
    transform: scale(1.1);
}

.browse-category:hover {
    background: #f9fcff;
}
.browse-category {
    transition: all .3s linear;
    border: 1px solid #f1f1f1;
    margin-top: -1px;
    padding: 20px;
    margin-right: -1px;
}
.form-control {
    border: 1px solid #26ae61;
    padding: 10px 15px;
    font-size: 14px;
}

.contents-button {
    padding: 8px 15px;
    font-size: 18px;
}

.browse-button .btn-similar {
    margin-top: 20px;
    align-self: center;
    margin: 0 auto;
}

.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 30px;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.btn_border {
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    border-color: #26ae61;
    color: #26ae61;
}

.download .download-wrapper .downld-button .btn {
    width: 200px;
    padding: 7px 17px;
}
.btn-similar {
    background: #26ae61;
    position: relative;
    z-index: 1;
}
.btn-similar:hover::before {
    background-color: rgba(255,255,255,.2)!important;
    opacity: 1!important;
    transform: scale(1,1)!important;
}

.btn-similar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .5s ease-out 0s;
    border-radius: 30px;
}

.subs-form .form-group .btn-similar:before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.btn-similar:hover, .btn-similar:active {
    box-shadow: 0 7px 9px rgba(96, 94, 94, .17);
    color: white !important;
    background-color: #26ae61;
}

.btn-similar:active {
    background-color: #26ae61!important;
}

.btn:hover{
    border-color: unset;
}

footer .footer-Content p, footer .footer-Content a {
    color: #8a99b3;
}

footer .menu li {
    padding-bottom: 15px;
}

.subs-form .form-group .btn-similar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 15px;
    height: 39px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #26ae61;
}

.subs-form .form-group .form-control {
    background: 0 0;
    padding: 8px 15px;
}

.footer-social li a {
    height: 32px;
    line-height: 35px;
    width: 32px;
}
.back-to-top {
    bottom: 12px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: #26ae61;
    border: 1px solid #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #26ae61;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.navbar-scrolled .navbar-nav .nav-link {
    color: black!important;
}

.navbar-scrolled {
    background-color: white!important;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
}
.fadeInDown {
    animation-name: fadeInDown
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -10px;
    left: calc(15% - 5px);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f8f9fa transparent;
}

.dropdown-menu {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.58);
    padding: 10px;
    top: 100%;
    left: 0;
}

.collapse ul li {
    padding: 10px
}

.dropdown-item {
    color: #9a9a9a;
    border-radius: 4px;
    font-size: 15px;
}
.dropdown .dropdown-item:focus, .dropdown .dropdown-item:hover, .dropdown .dropdown-item:active {
    background: #26ae61;
    color: #fff!important;
}

.subs-form ::placeholder {
    color: #8a99b3;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

.navbar .navbar-brand span {
    font-size: 14px;
    color: #39c074;
}

.btn_group .btn-similar {
    line-height: 14px;
    padding: 9px 15px;
}

.hero {
    margin-top: 100px;
}
.category img {
    height: 60px;
    width: 60px;
}

.work-process {
    padding: 0 30px;
}

.process-icon {
    font-size: 48px;
    color: #26ae61;
}

.carousel-indicators .car-btn {
    width: 10px;
    height: 10px;
}
.footer-Content {
    background-color: #24324a;
    padding: 60px 0;
}

.footer-Content .footer-social .facebook {
    background-color: #3b5998;
}

.footer-Content .footer-social .twitter {
    background-color: #0c0c0c;
}

.footer-Content .footer-social .linkedin {
    background-color: #007bb6;
}

.footer-Content .footer-social .google-plus {
    background-color: #dd4b39;
}

.copyright {
    background-color: #26ae61;
    padding: 20px 0 10px;
}

.footer-Content .footer-logo img {
    height: 50px;
}